BasedOnStyle: Google

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 120
Cpp11BracedListStyle: false
DerivePointerAlignment: false
Standard: Cpp11
